@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh; /* Esto es clave para móviles */
  overflow: hidden; /* Prohíbe el scroll */
  background-color: #030712; /* Color fondo */
}
